*{
  box-sizing: border-box;
  font-family: ubuntu;
  transition: 0.3s;
}

@font-face{
  font-family: ubuntu;
  src: url(../public/assets/fonts/Ubuntu-Regular.ttf)
}

@font-face{
  font-family: ubuntu-bold;
  src: url(../public/assets/fonts/Ubuntu-Bold.ttf)
}

@font-face{
  font-family: ubuntu-medium;
  src: url(../public/assets/fonts/Ubuntu-Medium.ttf)
}

body{
  font-family: ubuntu;
  background-color: var(--Magnolia);
}

:root{
  /*Colors*/

/*Primary*/

--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);

/*Neutral*/

--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
}


.container{
  display: flex;
  /*border: 1px solid red;*/
  width: 60%;
  max-width: 800px;
  min-width: 750px;
  height: 570px;
  margin: 20px auto;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--Light-gray);
  padding: 12px;
}

.menu{
  display: flex;
  flex-direction: column;
  background-image: url(../public/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  border-radius: 10px;
  /*background-size: cover;*/
  width: 276px;
  /*border: 1px solid blue;*/
}



.menu li{
  list-style: none;
  display: flex;
  /*border: 1px solid red;*/
  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding: 5px;
  font-size: 0.9em;
}

.num1, .num2, .num3, .num4{
  font-weight: 100;
  color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
  border: 1px solid var(--Light-blue);
}

.menu .num, .mobilemenu .num{
  font-weight: 100;
  color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--Alabaster);
}

.menu p{
  line-height: 5px;
  font-weight: 600;
}

.what p{
  color: var(--Alabaster);
}

.menu .step{
  font-weight: 100;
  font-size: 0.8em;
  color: var(--Pastel-blue);
}

.menu .what {
  /*border: 1px solid purple;*/
  width: 70%;
  text-align: left;
}

.deets{
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
  justify-content: space-between;
  height: 100%;
  width: 55%;
  margin-right: 5%;
  color: var(--Cool-gray);
}

.bottom{
  height: 75%;
}


.deets h1{
  font-family: ubuntu-bold;
  color: var(--Marine-blue);
}

.deets form{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  /*border: 1px solid red;*/
  padding-bottom: 30px;
  align-items: end;
}

form button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--Marine-blue);
  color: var(--White);
  cursor: pointer;
  font-family: ubuntu-bold;
}

.deets form label{
  display: flex;
  /*border: 1px solid red;*/
  height: 25%;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.labelPlusError{
  display: flex;
  justify-content: space-between;
}

.labelPlusError span{
  font-family: ubuntu-bold;
  color: var(--Marine-blue);
}

.labelPlusError .errorMessage{
  color: var(--Strawberry-red);
  font-size: 0.9em;
}

.texts{
  /*border: 1px solid pink;*/
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type=text]{
  padding: 15px 0;
  border: 1px solid var(--Light-gray);
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
  
  color: var(--Marine-blue);
  
}

.texts .texterror{
  padding: 10px 0;
  border: 1px solid var(--Strawberry-red);
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
  color: var(--Marine-blue);
}

/*PLANS*/
.boxes{
  display: flex;
  /*border: 1px solid red;*/
  justify-content: space-between;
  height: 100%;
}

.plans{
  height: 47%;
  /*border: 1px solid red;*/
}

.plan{
  color: var(--Marine-blue);
  font-family: ubuntu-bold;
 
}


.box{
  border: 1px solid var(--Light-gray);
  width: 30%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.chosenBox{
    border: 1px solid var(--Purplish-blue);
    width: 30%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--Magnolia);
}

.box img, .chosenBox img{
  width: 40px;
  height: 40px;
}


.box p, .chosenBox p{
  line-height: 7px;
}


.paymenttype{
  display: flex;
  /*border: 1px solid red;*/
  background-color: var(--Alabaster);
  margin-top: 20px;
  box-shadow: 0 0 2px var(--Light-gray);
  align-items: center;
  padding: 0 30%;
  justify-content: space-between;
}

.slider{
  width: 42px;
  height: 20px;
  background-color: var(--Marine-blue);
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.slideeOnMonthly{
  width: 40%;
  /*border: 1px solid red;*/
  height: 100%;
  border-radius: 20px;
  background-color: white;
  
}

.slideeOnYearly{
  width: 40%;
  /*border: 1px solid red;*/
  height: 100%;
  border-radius: 20px;
  margin-left: 60%;
  background-color: white;
  
}

.buttons{
  display: flex;
  /*border: 1px solid red;*/
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.back{
  padding: 10px;
  border-radius: 5px;
  border: none;
  /*background-color: var(--Marine-blue);*/
  background-color: white;
  color: var(--Cool-gray);
  cursor: pointer;
  font-family: ubuntu-bold;
}


 .next{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--Marine-blue);
  color: white;
  cursor: pointer;
  font-family: ubuntu-bold;
}



.confirm{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--Purplish-blue);
  color: white;
  cursor: pointer;
  font-family: ubuntu-bold;
}
/*PLANS*/




/*ADDONS*/

.addons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid red;*/
  height: 80%;
}


.addon{
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--Light-gray);
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
}

.chosenAddon{
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
}


.addondes{
  /*border: 1px solid purple;*/
  width: 70%;
}


.addondes p{
  font-size: 0.7em;
  font-family: ubuntu-medium;
}

.addondes .addonName{
  font-size: 1em;
  font-family: ubuntu-bold;
  color: var(--Marine-blue);
}


/*ADDONS*/


/*SUMMARY*/
.summary{
  display: flex;
  flex-direction: column;
  width: 100%;
  /*border: 1px solid red;*/
}

.first{
  background-color: var(--Alabaster);
}

.chosenPlan{
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid var(--Light-gray);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  width: 95%;
}

.otherThings{
  display: flex;
  flex-direction: column;
 
}

.thing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.confirmation{
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirmation h2{
  color: var(--Marine-blue);
  font-family: ubuntu-bold;
}

.confirmImage{
  height: 70px;
  width: 70px;
}


/*SUMMARY*/



/*active*/

input[type=text]:focus{
  border: 1px solid var(--Purplish-blue);
  font-family: ubuntu-bold;
}

.texts .texterror:focus{
  border: 1px solid var(--Strawberry-red);
}


.back:hover{
  color: var(--Marine-blue);
}

.bottom button:hover, .next:hover{
  background-color: var(--Purplish-blue);
}


.box:hover{
  border: 1px solid var(--Purplish-blue);
}

.addon:hover{
  border: 1px solid var(--Purplish-blue);
}

.confirm:hover{
  background-color: var(--Marine-blue);
}

/*input[type=checkbox]:checked ~ .addon{
  border: 1px solid var(--Purplish-blue);
}*/

/*active*/
.mobilemenu{
  display: none;
}

footer{
  display: none;
}

.mobileButtons{
  display: none;
}

.mobileInfo, .mobilePlan, .mobileAddons,.mobileSummary{
  display: none;
}

/*Mobile*/
@media(max-width:750px){
  .container{
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    width: 100%;
    max-width: 100%;
    min-width: 0px;
    height: 80vh;
    overflow-y: scroll;
    margin: 0 auto ;
    justify-content: space-between;
    border-radius: none;
    background: none;
    box-shadow: none;
    padding: 0px;
  }

  .container::-webkit-scrollbar{
    display: none;
  }
  
  .menu{
   display: none;
  }
  
  .mobilemenu{
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../public/assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: none;
    /*background-size: cover;*/
    width: 100%;
    /*border: 1px solid red;*/
  }


  .mobilemenu p{
    margin-top: 50px;
  }
  
  
  .deets{
    display: none;
  }
  
  
  .mobilePlan, .mobileInfo, .mobileAddons, .mobileSummary{
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 15vh;
    /*border: 1px solid blue;*/
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    margin-right: none;
    color: var(--Cool-gray);
    box-shadow: 0 0 5px var(--Light-gray);
  }
  
  .bottom{
    height: 75%;
  }
  
  
  .mobileInfo h1{
    font-family: ubuntu-bold;
    color: var(--Marine-blue);
  }
  
  .mobileInfo form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    /*border: 1px solid red;*/
    padding-bottom: 30px;
    align-items: end;
  }

  
  form button{
    display: none;
  }

  footer{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  footer button{
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    /*max-height: 50px;*/
    border: none;
    background-color: var(--Marine-blue);
    color: var(--White);
    cursor: pointer;
    font-family: ubuntu-bold;
  }

  .mobileInfo form label{
    display: flex;
    /*border: 1px solid red;*/
    height: 25%;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }
  
  .labelPlusError{
    display: flex;
    justify-content: space-between;
  }
  
  .labelPlusError span{
    font-family: ubuntu-bold;
    color: var(--Marine-blue);
  }
  
  .labelPlusError .errorMessage{
    color: var(--Strawberry-red);
    font-size: 0.9em;
  }
  
  .texts{
    /*border: 1px solid pink;*/
    height: 100%;
    width: 100%;
    /*padding: 15px 0;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  input[type=text]{
    padding: 15px 0;
    border: 1px solid var(--Light-gray);
    text-indent: 10px;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    color: var(--Marine-blue);
    
  }
  
  .texts .texterror{
    padding: 10px 0;
    border: 1px solid var(--Strawberry-red);
    text-indent: 10px;
    outline: none;
    border-radius: 5px;
    color: var(--Marine-blue);
  }
  
  /*PLANS*/

  .mobilePlan{
    min-height: 700px;
    /*border: 1px solid red;*/
  }

  .boxes{
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    justify-content: space-between;
    height: 100%;
  }
  
  .plans{
    height: 80%;
    /*border: 1px solid red;*/
  }
  
  .plan{
    color: var(--Marine-blue);
    font-family: ubuntu-bold;
   
  }
  
  
  .box{
    border: 1px solid var(--Light-gray);
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .chosenBox{
      border: 1px solid var(--Purplish-blue);
      width: 100%;
      display: flex;
      padding: 10px;
      border-radius: 10px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      background-color: var(--Magnolia);
  }
  
  .box img, .chosenBox img{
    width: 40px;
    height: 40px;
  }
  
  
  .box p, .chosenBox p{
    line-height: 7px;
  }
  
  
  .paymenttype{
    display: flex;
    /*border: 1px solid red;*/
    background-color: var(--Alabaster);
    margin-top: 20px;
    box-shadow: 0 0 2px var(--Light-gray);
    align-items: center;
    padding: 0 30%;
    justify-content: space-between;
  }
  
  .slider{
    width: 42px;
    height: 20px;
    background-color: var(--Marine-blue);
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
  }
  
  .slideeOnMonthly{
    width: 40%;
    /*border: 1px solid red;*/
    height: 100%;
    border-radius: 20px;
    background-color: white;
    
  }
  
  .slideeOnYearly{
    width: 40%;
    /*border: 1px solid red;*/
    height: 100%;
    border-radius: 20px;
    margin-left: 60%;
    background-color: white;
    
  }
  
  .buttons{
    display: none;
  }

  /*.mobileButtons{
    display: flex;
    border: 1px solid red;
    margin-bottom: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }*/
  
  
  .back{
    padding: 10px;
    border-radius: 5px;
    border: none;
    /*background-color: var(--Marine-blue);*/
    background-color: white;
    color: var(--Cool-gray);
    cursor: pointer;
    font-family: ubuntu-bold;
  }
  
  
   .next{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--Marine-blue);
    color: white;
    cursor: pointer;
    font-family: ubuntu-bold;
  }
  
  
  
  .confirm{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--Purplish-blue);
    color: white;
    cursor: pointer;
    font-family: ubuntu-bold;
  }

  /*ADDONS*/

  .mobileAddons{
    min-height: 450px;
  }

.addons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid red;*/
  height: 85%;
}


.addon{
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--Light-gray);
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
}

.chosenAddon{
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
}


.addondes{
  /*border: 1px solid purple;*/
  width: 70%;
}


.addondes p{
  font-size: 0.7em;
  font-family: ubuntu-medium;
}

.addondes .addonName{
  font-size: 1em;
  font-family: ubuntu-bold;
  color: var(--Marine-blue);
}


/*ADDONS*/


/*SUMMARY*/
.summary{
  display: flex;
  flex-direction: column;
  width: 100%;
  /*border: 1px solid red;*/
}

.first{
  background-color: var(--Alabaster);
}

.chosenPlan{
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid var(--Light-gray);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  width: 95%;
}

.otherThings{
  display: flex;
  flex-direction: column;
 
}

.thing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.confirmation{
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirmation h2{
  color: var(--Marine-blue);
  font-family: ubuntu-bold;
}

.confirmImage{
  height: 70px;
  width: 70px;
}


/*SUMMARY*/



}





/*Mobile*/